<?page title="Define frequency threshold" contentType="text/html;charset=UTF-8"?>
<zk>
	<window id="frequencyParameters" xmlns:n="native" mode="modal" border="none" sclass="select-gibbs-attributes" apply="cat.iciq.tcg.labbook.zk.composers.reportmanager.ReportEnergyReactionProfileFrequencyThreshold">
		 <n:div role="dialog">
	      <n:div sclass="modal-dialog" role="document">
	        <n:div sclass="modal-content">
	          <n:div sclass="modal-header">
	            <n:h5 sclass="modal-title">Set graph parameters</n:h5>
	            <button id="closeBtn" sclass="close z-icon-close"/>
	          </n:div>
	          <n:div class="modal-body">
	            <div class="d-flex flex-column pt-sm-3 pr-sm-3 pl-sm-3 pb-sm-2">
	                <div sclass="row mb-1 form-inline pb-sm-2">
	                	<label sclass="col-md-12">
	                	Set the value used for the auto-detection of transition states.
                        Structures with frequency values below the threshold will be assigned as transition states
	                	</label>
	                </div>   
	                <div sclass="row mb-1 form-inline pb-sm-2">
                        <label id="thresholdLabel" value="Frequency threshold:" sclass="col-md-6" />
                        <decimalbox id="thresholdDb" constraint="no empty" format="##0.##" value="-5.0" width="150px"/>
                        <label class="ml-2">cm-1</label>
	                </div>  
	                
	                <div class="text-right m-2">
	                	<div>
	                		<button id="resetBtn" sclass="btn btn-primary mr-3" label="Reset"/>
	                		<button id="generateBtn" sclass="btn btn-secondary" label="Generate"/>
	                	</div>	                    
	                </div>
	            </div>
	          </n:div>
	        </n:div>
	      </n:div>
	    </n:div>
	 </window>			
</zk>