<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.success.header}">Generic Success View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" class="row">
       <div class="col-sm-12 col-sm-12 d-flex flex-column justify-content-center align-items-center text-center">
         <div style="padding-bottom:2em;">
            <img src="images/logo_iochembd.png" style="height: 70px;">
         </div>
         <div class="card mx-auto" style="width: 350px;">
            <div class="card-body">
                 <h2 th:utext="#{screen.success.header}">Log In Successful</h2>
                 <p th:utext="#{screen.success.security}">When you are finished, for security reasons, please <a
                    href="logout">log out</a> and exit your web browser.</p>
            </div>
            <div class="card-footer">
                <a href="/create" class="btn btn-secondary btn-block" role="button" tabindex="5">Create module</a>
                <a href="/browse/mydspace" class="btn btn-secondary btn-block" role="button" tabindex="5">Browse module</a>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>
